#about {
  .container {
    width: 100%;
    position: relative;
    top: 50px;
    box-sizing: border-box; /* Inclut le padding dans la hauteur totale */
  }
  .content {
    width: 100%; /* Largeur de la div */
    height: calc(100% - 60px); /* Prend toute la hauteur restante */
    display: flex;
    align-items: center; /* Centre le contenu verticalement */
    justify-content: center; /* Centre le contenu horizontalement */
    flex-direction: column;
    color: var(--primary);
    .aproposdemoi {
      display: flex;
      flex-direction: column; /* Aligner le titre et les colonnes verticalement */
      width: 50%;
      padding: 20px 50px;
      margin: 20px auto 0 auto;
      background-color: white;
      border-radius: 8px;
      box-shadow: var(--box-shadow);
      p {
        margin-bottom: 20px;
      }
      h3 {
        font-size: var(--font-size-large);
        margin-bottom: 20px; /* Espacement sous le titre */
        margin-top: 20px; /* Espacement sous le titre */
      }
    }
  }
}

/* src/components/LeisureList.css */
.loisir-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px; /* espace entre les éléments */
  justify-content: center; /* centrer horizontalement */
}

.loisir-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.loisir-label {
  margin-top: 10px;
  font-size: 16px;
  color: var(--primary); /* Couleur du texte */
}

.contact-container {
  display: flex;
  flex-wrap: wrap; /* Permet aux éléments de passer à la ligne suivante si nécessaire */
  justify-content: space-around; /* Répartit les éléments également avec de l'espace autour */
  align-items: center; /* Aligne les éléments verticalement au centre */
  gap: 20px; /* Espace entre les éléments */
  padding: 20px;
}

.contact-item {
  display: flex;
  flex-direction: column; /* Aligne l'icône et le label verticalement */
  text-align: center;
  text-decoration: none;
  color: var(--primary); /* Couleur du texte */
  width: 150px; /* Largeur fixe pour les éléments, ajustez si nécessaire */
}

.contact-item:hover {
  color: var(--color-dark); /* Couleur de survol pour LinkedIn */
}

.contact-label {
  margin-top: 10px;
  font-size: 16px;
}
