#formations {
  .container {
    width: 100%;
    position: relative;
    top: 50px;
    box-sizing: border-box; 
    .content {
      width: 100%;
      height: calc(100% - 60px);
      display: flex;
      flex-direction: column;
      h2 {
        text-align: center;
        line-height: var(--line-height-hight);
      }
      div {
        color: var(--primary);
        .date,
        .option {
          line-height: var(--line-height-small);
          font-weight: var(--font-weight-semi-bold);
        }
      }
    }
  }
}
